/* *
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');



.event {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 150px;
  bottom: 3px;
  left: calc(50% - 1.5px);
  content: " ";
  display: block;
  background: #3d8eb9;
}

.event.busy {
  background: #f64747;
}

.izitoast {
  background-color: #EF4040;
  border-color:#FFBEBE;
}

#datetime-picker {
  outline: none;
  margin-top: 36px;
  margin-left: 156px;
  border-color: #808080;
  width: 272px;
  height: 40px;
  color: #2E2F42;
  border-radius: 4px;
}

#datetime-picker:hover{
  border-color: black;
}


#datetime-picker:active{
  border-color: #4E75FF;
}

#datetime-picker:disabled{
  border-color:#808080;
}

button {
  display:flex;
  border: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
margin-left:8px;
  border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
background: #4e75ff;
color:white;
}

button:hover{
  background: #6c8cff;
}

button:disabled{
  background: #cfcfcf;
  color: #989898;
}

.timer{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  margin-top:32px;
  margin-left:156px;
  width: 346px;
  height: 72px;
}


.timer .field .label{
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */ 
  line-height: 1.5;
  color: #2e2f42;
}

span{
  text-align: center;
  
}

div.field{
  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 0px;
}

.field .value{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;

/* line-height: 48px; */ 
line-height: 1.2;
letter-spacing: 0.04em;
color: #2e2f42;
}

.field .label{
  font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
color: #2e2f42;
}

.calendar{
  background: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  padding: 16px;
  width: 280px;
  height: 352px;
}

.currentYear{
  margin-bottom:24px;
}

.form {
  margin-top: 36px;
  margin-left: 156px;
}

.form>label{
  margin-bottom:16px;
  display: flex;
  flex-direction: column;
  gap:8px;
  width:360px;
}

.form>label input{
  height:40px;
}

.form fieldset legend{
  margin-left:8px;
}

.form fieldset{
  display: flex;
  width:360px;
  padding: 0;
  border-radius: 4px;
}

.form fieldset label{
  margin-top: 14px;
  margin-bottom:8px;
  margin-left:48px;
}

.form fieldset label:last-child{
  margin: 0 48px;
  margin-top: 14px;
  margin-bottom:8px;
}

.form button {
  margin-top: 24px;
  width:360px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}